/*  */

.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

input {
  background: transparent;
  /* outline: none; */
  border: none;
}
input:focus {
  border: none;
  border-radius: 6px;
  padding: 0 8px;
  outline: solid 1px rgba(0, 0, 0, 0.3);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.center {
  align-items: center;
  justify-content: center;
}
.button {
  /*  border: none;
   outline: none;
   background-color: transparent; */

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:active {
  opacity: 0.9;
  transform: scale(0.99, 0.99);
}
